# Accessing server
host = "xxx.xxx.xxx.xxx"          # Calculation server address, given as "xxx.xxx.xxx.xxx"
user = "xxxxxx"                 # Calculation server log-in name, given as "xxxx"
key = r"xxxxxx"                 # Path to login private key (.pem file)


# Accessing queue:
quser = "xxxxx"
qpwd = "xxxxxx"